#wrapper {
  width: 80%;
  margin: 20px auto 20px auto;
  background-color: red;

}
header {
  background-color: blue;
}
#content-wrapper {
  display: flex;
  background-color: black;
}
aside {
  width: 30%;
  background-color: pink;
}
#content-wrapper div {
  background-color: silver;
}
main {
  width: 70%;
  background-color: green;
}
footer {
  background-color: violet;
}
